{
    "testspeed":1,
    "ctype":19,
    "checkfile_list":["https://github.com/users/project1/raw/master/iptv.txt",
                      "C:\\Users\\admin\\Desktop\\live.m3u"],
    "otype":7,
    "keywords":["赣州"],
    "sendfile_list":["/share/iptv/alltv.txt",
                      "",
                      "/share/iptv/tv/iptv.txt"]
}